<!DOCTYPE html>

<head>
    {% include "global_includes.html" %}
    <title>Teatro Per&uacute; &mdash; La Cartelera</title>
    <meta content="">
</head>
    
  
<body>

{% include "top_menu.html" %}

<div>
<span class="empty-space"></span>
{% spaceless %}
{% for mes in meses %}
    <span style="width:{{ mes.size }}px;" class="{% cycle "mes-par" "mes-impar" %}">{{ mes.name }}</span>
{% endfor %}
{% endspaceless %}
</div>

<div>
<span class="empty-space"></span>
{% spaceless %}
{% for dia in dias %}
    <span class="{% cycle "dia-par" "dia-impar" %}"><a href="/{{ dia.ano }}/{{ dia.mes }}/{{ dia.dia }}">{{ dia.dia }}</a></span>
{% endfor %}
{% endspaceless %}
</div>

{% spaceless %}
{% for obra in obras %}
  <div class="cartelera-row">
    <span class="plaza"><a href="/obra/{{ obra.id }}">{{obra.plaza}}</a></span>
    <span class="empty-space" style="width:{{obra.prev_space}}px"></span>
    <span class="obra" style="width:{{obra.width}}px;"><a href="/puesta_en_escena/{{ obra.puesta_id }}">{{obra.titulo}}</a></span>
  </div>
{% endfor %}
{% endspaceless %}

  </body>

