<!DOCTYPE html>
<head>
    {% include "global_includes.html" %}
    <title>Cartelera para {{ fecha|date:"D d, F, Y" }}</title>
</head>

<body>

{% include "top_menu.html" %}
<a href="/{{ fecha_prev.year }}/{{ fecha_prev.month }}/{{ fecha_prev.day }}">Ayer</a>
<a href="/{{ fecha_next.year }}/{{ fecha_next.month }}/{{ fecha_next.day }}">Mañana</a>

{% if puestas %}
<table>
    <tr>
        <th> Obra
        <th> Teatro
        <th> Hora de Inicio
        <th> Precio
    {% spaceless %}
    {% for puesta in puestas %}
    <tr>
        <td> {{ puesta.obra.titulo }}
        <td> {{ puesta.plaza.nombre }}
        <td> {% for horario in puesta.horarios.all %}
                {% if fecha.weekday == 0 %}
                    {%if horario.day == 'L'%}
                        <li> {{horario.start_time }}
                    {% endif %}
                {% endif %}
                {% if fecha.weekday == 1 %}
                    {%if horario.day == 'M'%}
                        <li> {{horario.start_time }}
                    {% endif %}
                {% endif %}
                {% if fecha.weekday == 2 %}
                    {%if horario.day == 'X'%}
                        <li> {{horario.start_time }}
                    {% endif %}
                {% endif %}
                {% if fecha.weekday == 3 %}
                    {%if horario.day == 'J'%}
                        <li> {{horario.start_time }}
                    {% endif %}
                {% endif %}
                {% if fecha.weekday == 4 %}
                    {%if horario.day == 'V'%}
                        <li> {{horario.start_time }}
                    {% endif %}
                {% endif %}
                {% if fecha.weekday == 5 %}
                    {%if horario.day == 'S'%}
                        <li> {{horario.start_time }}
                    {% endif %}
                {% endif %}
                {% if fecha.weekday == 6 %}
                    {%if horario.day == 'D'%}
                        <li> {{ horario.start_time }}
                    {% endif %}
                {% endif %}
             {% endfor %}
        <td> {% for entrada in puesta.entradas.all %}
                <li> {{ entrada.name }} : S/. {{ entrada.cost }}
             {% endfor %}
    <tr>
    {% endfor %}
    {% endspaceless %}
<table>
{% else %}
    <p> No hay obras en exhibici&oacute;n este d&iacute;a
{% endif %}

</body>