.sub-header {
  background-color: #b06659;
  border-top: 3px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 3px;
  border-style: solid;

  margin-top: 20px;
  margin-bottom: 20px;

  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 3px;

  line-height: 1.2;

  clear:both;
}

.required {
  border-color: red;
  border-width: 1px;
  border-style: solid;
}

div#obra-related {
  float: right;
}

span.entrada-nombre, {
  background-color: green;
}

span.entrada-costo, {
  background-color: red;
}

button.entrada-item,
button.elenco-item {
  float: right;
}

.entrada-item,
.elenco-item {
  max-width: 200px;
  height: 22px;
  line-height: 22px;
  margin: 0px;
}

div#elenco-related {
  float: right;
}